<div class="container">
  <%#= link_to "Back to list", root_path, class:"btn btn-primary mt-3" %>

  <h2><%= @cocktail.name %></h2>

  <% @cocktail.doses.each do |dose| %>
    <li>
      <%= dose.description %> - <%= dose.ingredient.name %>
      <%= link_to dose_path(dose), method: :delete do %>
        <i class="fas fa-minus"></i>
      <% end %>
    </li>
  <% end %>

  <%= simple_form_for @cocktail do |f| %>
  <%= f.input :photo, as: :file %>
  <%= f.submit %>
  <% end %>

  <% if @cocktail.photo.attached? %>
  <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>

  <%= link_to 'delete photo', @cocktail.photo.purge %>

  <div class="mt-5">
    <h4>Add a new ingredient</h4>
    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.input :description %>
      <%= f.association :ingredient %>
      <%= f.submit %>
    <% end %>
  </div>


  <div class="my-3">
    <% @cocktail.reviews.each do |review| %>
      <ul class="list-inline">
        <li class="list-inline-item"><%= review.content %></li>
        <li class="list-inline-item">
          <% review.rating.times do %>
            <i class="fas fa-star text-warning"></i>
          <% end %>
        </li>
        <% end %>
      </ul>
  </div>

  <div class="mt-2">
    <h4>Add a review</h4>
      <%= simple_form_for [ @cocktail, @review ] do |f| %>
      <%= f.input :content %>
      <%= f.input :rating, collection: Review::RATING%>
      <%= f.submit %>
      <% end %>
  </div>

</div>
